.psiturk_history

*.pyc
*.log
*.db
*.iml
*.idea

# Create this file under util/dbcreds. It should contain two lines that resemble the following:
# database_url = mysql://user:passwd@127.0.0.1:3306/dbname
# table_name = tbname
dbcreds
resources
