<div id="container-questionnaire">
    <h1>Main Task Complete</h1>

    <hr />

    <p>You are finished with the main task! Now we would like you to complete three short behavioral questionnaires about yourself before completing your HIT.</p>

    <div class="instructions well">

        <p>
            This questionnaire asks you to respond to statements about your attitudes, opinions, and behaviors. Read each statement carefully, and decide whether or not the statement describes you.  Using the scale at the top of each page indicate the degree to which the <b>ENTIRE</b> statement is true of you.  Give only one answer for each statement.
        </p>

        <p>
            Some of the statements may refer to experiences you may not have had.  Respond to these statements in terms of how true you think it <b>WOULD BE</b> of you.
        </p>

        <p>1 = Very True for Me</p>
        <p>2 = True for Me</p>
        <p>3 = Somewhat True for Me</p>
        <p>4 = Somewhat Untrue for Me</p>
        <p>5 = Untrue for Me</p>
        <p>6 = Very Untrue for Me</p>

        <form id="postquiz" method="post">

            <script>
                $.ajax({
                    type: "GET",
                    url: "static/resources/mtq.txt",
                    dataType: "text",
                    success: function (data) {
                        let form = $('#postquiz');
                        data = data.split("\n");
                        var choices = function(id){
                            return  "<select id='" + id + "' name='" + id + "'>\n" +
                                "    <option hidden disabled selected value label = ' '></option>" +
                                "    <option value='1'>1</option>\n" +
                                "    <option value='2'>2</option>\n" +
                                "    <option value='3'>3</option>\n" +
                                "    <option value='4'>4</option>\n" +
                                "    <option value='5'>5</option>\n" +
                                "    <option value='6'>6</option>\n" +
                                    "</select>";

                        };

                        for (let i = 1; i <= data.length; i ++){
                            form.append(i + ".<br>" + choices("mtq" + i) + "&ensp;<label id='mtq'" + i + "'>" +
                                data[i-1] + "</label><br>");
                        }
                    },
                    error: function (req, status, error) {
                        $("body").html("<p>" + error + "</p>");
                    }
                })
            </script>


        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
