<div id="container-questionnaire">
    <h1>Main Task Complete</h1>

    <hr />

    <p>You are finished with the main task! Before completing your three behavioral questionnaires, we would like to ask you about the task.</p>

    <div class="instructions well">

        <p>
            Please answer the following questions honestly. Your responses will not affect your bonus. You may skip any questions you are uncomfortable answering.
        </p>

        <form id="postquiz" method="post">
            <p>
                Did you speed up your mouse cursor through your computer settings prior to the main task?
            </p>

            <select id="spedMouse">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>

            <br />

            <p style="margin-top: 15px">
                In the following questions, select a value 1-7 where:<br />
                &nbsp;&nbsp;&nbsp;&nbsp;1 = Not at all<br />
                &nbsp;&nbsp;&nbsp;&nbsp;4 = Somewhat<br />
                &nbsp;&nbsp;&nbsp;&nbsp;7 = Very<br />
            </p>

            <h2>Motivation</h2>
            <p>
                How motivated were you to complete single trials?<br />
            </p>

            <select id="motivation-single">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                How motivated were you to complete the double trials?
            </p>

            <select id="motivation-double">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                How motivated were you to reveal the reward amounts in press trials (i.e. press the spacebar enough times)?
            </p>


            <select id="motivation-press">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <h2>
                Enjoyment
            </h2>

            <p>
                How much did you like the single trials?
            </p>

            <select id="enjoyment-single">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                How much did you like the double trials?
            </p>

            <select id="enjoyment-double">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                How much did you like the press trials?
            </p>

            <select id="enjoyment-press">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <h2>
                Interest
            </h2>

            <p>
                How interested were you in discovering the reward value of the single trials?
            </p>

            <select id="interest-single">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                How interested were you in discovering the reward value of the double trials?
            </p>

            <select id="interest-double">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>
            <p>
                How interested were you in discovering the reward value of the press trials?
            </p>

            <select id="interest-press">
                <option hidden disabled selected value label = ' '></option>
                <option value="1" label="1">1</option>
                <option value="2" label="2">2</option>
                <option value="3" label="3">3</option>
                <option value="4" label="4">4</option>
                <option value="5" label="5">5</option>
                <option value="6" label="6">6</option>
                <option value="7" label="7">7</option>
            </select>

            <p>
                Describe any strategies you used to complete the task; e.g. rotating the mouse.
            </p>
            <textarea id="strategies" rows="8" cols="50"></textarea>

            <p>
                Do you have any other feedback regarding this task?
            </p>
            <textarea id="feedback" rows="8" cols="50"></textarea>

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
