<div id="container-questionnaire">

    <h1>Color Detection Pretest</h1>

    <hr />

    <p>
        This experiment uses colors to differentiate stimuli. Before we begin, please answer these questions to make sure you can distinguish between the colors presented.
    </p>

    <form id="pretest" method="post">
        <div id="tests" class="instructions well">
        </div>
    </form>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-9">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>