<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You will be tasked with clicking on a colored box in either to top left or right corner. There are four types of trials.
	    </p>
	    
	    <p>
	    	You may either see one box on the left, one box on the right, or both. In the case that you see both, they may be uncolored.
        </p>

        <p>
        	Sometimes you will get the chance to fill in colors for both boxes. In this case, you must press the specified button on your keyboard.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
