<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You are about to start the experiment, starting with the practice trial. As a reminder, your bonus will consist of your selections in 10 randomly selected main trials. You will not know which trials until the end of the experiment.
        </p>
        
        <p>
            If you understand the instructions, click "Begin experiment" to proceed. Otherwise, please go back and review the instructions.
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>

            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
