<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You are about to start the experiment, starting with the practice stage. As a reminder, your bonus will be calculated by randomly selecting 10 trials from the main game and paying you the total amount you received from those 10 trials. The bonus can therefore range from $0-10. You will be informed of your bonus at the end of the experiment.
        </p>
        
        <p>
            If you understand the instructions, click "Begin experiment" to proceed. Otherwise, please go back and review the instructions.
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                    <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>

            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
