<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <div style="overflow: auto">
            <p class="instr-head">The Cursor</p>
            <p class="instr-page-num">2 of 3</p>
        </div>

        <p>
            The cursor in this game has special properties:
        </p>

        <ul>
            <li>It starts at the bottom of the screen every trial.</li>
            <li>It looks like a black ring, which replaces the normal cursor.</li>
            <li>It moves much slower than normal to elicit a stronger sense of motivation.</li>
        </ul>

        <p>
            This requires certain things of you:
        </p>

        <ul>
            <li>Move your mouse back to near your body in between trials, since the cursor will move to the bottom of the screen automatically.</li>
            <li>Make sure you have enough room (approx. 1 to 2 sq. ft.) to move the mouse from the bottom of the screen to the top left / right without picking it up. Make this adjustment during the practice trials.</li>
            <li><b>Do not exit the mouse replacement and regain control of your mouse outside specified breaks.</b> Here are some ways that might happen:
                <ul>
                    <li>Pressing the 'escape' key</li>
                    <li>Switching to another window or pressing 'Alt' + 'Tab'</li>
                    <li>Pressing the 'back' button on your mouse or keyboard</li>
                </ul>
                <b style="color: red;">If you exit during the main experiment, your results will be invalid and your bonus forfeited.</b>
            </li>
        </ul>
        <!--
        <p>
            Below is a labelled image of a trial, including the black cursor you will be using.
        </p>

        <img src="/static/images/pressNoReveal.png" width="100%"/>
        -->


    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
