<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <div style="overflow: auto">
            <p class="instr-head">The Cursor</p>
            <p class="instr-page-num">2 of 3</p>
        </div>

        <p>
            During each trial, you will move the cursor from the bottom of the screen to the top of the screen to make a selection between 1 or 2 reward target areas. The location of the cursor will be tracked during each trial. However, to capture more meaningful movement, the cursor you will be using is a black circle that moves much slower than your standard mouse cursor, which it will replace. Because of this, you will need a lot of space to move the mouse. Please clear an area of approximately 1.5 square feet for your mouse to move now. During the practice stage, you will get a feel for the space required to move the mouse from the bottom of the screen to the reward regions. <b>Please adjust your space to allow you to move the mouse all the way from the start to the target reward areas without picking up the mouse.</b>
        </p>

        <p>
            The cursor will automatically reset to the bottom of the screen before each trial. Please move your mouse back to its starting position in your setup (for example, at the front of your desk) before each trial. You will get to practice this during the practice stage.
        </p>

        <p>
            The process used to exit the game and regain control of your cursor can be caused by a variety of actions. <b>It is very important that you only exit and regain control of your cursor during specified breaks if you wish to complete the experiment.</b> The following actions are some of the ways you can regain control of your cursor during a trial:
        </p>

        <ul>
            <li>Pressing the 'escape' key</li>
            <li>Switching to another window or pressing 'Alt' + 'Tab'</li>
            <li>Having a notification on your computer pop up and switching your focus away from the browser</li>
        </ul>

        <p>
            Regaining control of your cursor during practice stage will allow you to restart, but if you do this during the main stage, the task will end, <b>your results will be invalidated and your bonus forfeited.</b> In this case, you will still be asked to complete the questionnaires before you can submit the HIT. During any of the breaks, you may regain control of your cursor by pressing ‘escape’ and return later without loss in progress.
        </p>

        <p>
            Below is a labelled image of a trial, including the black cursor you will be using.
        </p>

        <img src="/static/images/pressNoReveal.png" width="100%"/>


    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
