<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

        <div style="overflow: auto">
            <p class="instr-head">Experiment Structure</p>
            <p class="instr-page-num">1 of 3</p>
        </div>

	    <p>
            In this experiment, you will be tasked with moving the cursor to a region of the screen and clicking on it to receive a reward. There are 175 trials total, and a trial ends either the moment you click on a reward region, or after 5 seconds have elapsed. Trials start automatically, so please be prepared to do the next trial immediately after you complete a trial. You will be able to take breaks at specified points in the experiment, although it is recommended that you complete the experiment in one sitting. In addition to the main 175 trials, you will first complete 16 practice trials to become familiar with the experiment. You must complete the practice trials to move on to the rest of the experiment. After you complete both the practice and main trials, you will have two questionnaires to complete, and then you will be done. On the next page, the details of the experiment will be described.
	    </p>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
