<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>2 of 3</p>

        <p>
            During each trial, you will move the cursor from the bottom of the screen to the top of the screen to make a selection, and the location of the cursor will be tracked during each trial. However, to capture more meaningful movement, the cursor you will be using is a black circle that moves much slower than a standard cursor. Because of this, you will need a lot of space to move the mouse. Please clear an area for your mouse to move now. During the practice trials, you will get a feel for the space required to move the mouse from the bottom of the screen to the reward regions. Please adjust your space to allow you to move the mouse all the way from start to end without picking up the mouse.
        </p>

        <p>
            The cursor will automatically reset to the bottom of the screen before each trial. Please move your mouse back to its starting position before each trial. You will get to practice this during the practice trial.
        </p>

        <p>
            The process used to replace the cursor can be cancelled by a variety of actions, but it is very important that you only cancel the cursor replacement during specified breaks if you wish to complete the experiment. The following actions are some of the ways you might inadvertently cancel this replacement during a trial:
        </p>

        <ul>
            <li>Pressing the 'escape' key</li>
            <li>Switching to another window or pressing 'Alt' + 'Tab'</li>
            <li>Having a notification on your computer pop up and switching your focus away from the browser</li>
        </ul>

        <p>
            Cancelling the cursor replacement during practice trials will allow you to restart, but if you cancel it during a main trial, <b>your results will be invalidated and your bonus forfeited</b>. In this case, you will still be asked to complete the questionnaires before you can submit the HIT. You may cancel the cursor replacement and return later during any break without loss in progress.
        </p>

        <p>
            Below is a labelled image of a trial, including the black cursor you will be using.
        </p>

        <img src="/static/images/pressNoReveal.png" width="100%"/>


    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
