<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <div style="overflow: auto">
            <p class="instr-head">Trial Types</p>
            <p class="instr-page-num">1 of 3</p>
        </div>

        <p>
            There are three types of trials you will be completing. Before each trial, you will see which type it will be. The types of trials are "Single", "Double", and "Press", and each is described below. In all trials, the brightness of the reward regions corresponds to the value of that reward region. Specifically, the brighter the reward region, the more valuable it is (between $0.01 and $1.00). You will be told what the exact value of your selection is immediately after clicking on it.
        </p>

        <ol>
            <li>
                <h5>Single Trials</h5>

                <p>In these trials, there will only be one reward region on the screen. Its color will be shades of blue.</p>
            </li>

            <li>
                <h5>Double Trials</h5>

                <p>In these trials, there will be two reward regions on opposite corners of the screen. Their colors will be shades of red.</p>
            </li>

            <li>
                <h5>Press Trials</h5>

                <p>
                    In these trials, the two reward regions are uncolored and do not give any information about their value by default. You will have the opportunity to reveal the colors of the reward regions during an additional task that happens before the trial. This task gives you two seconds to press the spacebar key as many times as you can. Each trial has a random threshold of presses. If you press the spacebar enough times (beyond the threshold), you will reveal the colors of the reward regions in the following trial. You will not be told what the threshold is for each trial. If you choose to and successfully reveal the colors of the reward regions, they will be shades of red. The two seconds starts immediately after the "Press" message that reveals what type of trial is next. The trial will immediately start two seconds later, regardless of whether you choose to press the spacebar or not, so be prepared.
                </p>
            </li>
        </ol>

        <p>Below is a labelled trial that could arise from either a Double trial or a Press trial where colors have been revealed.</p>

        <img src="/static/images/pressReveal.png" width="100%"/>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
